* {
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

#root {
  width: 100%;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Container {
  background-color: #0f2434;
  width: 360px;
  height: 420px;
}

main {
  background-color: #f5f5f5;
  width: 320px;
  height: 360px;
  margin: 30px auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/* *** NAV *** */
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  /* border: solid 1px black; */
  width: 110%;
}

.scores {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.trackers {
  width: 130px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: center;
  margin-right: 10px;
}

/* *** TITLE *** */
.title {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 5px;
}

/* *** INSTRUCTIONS *** */
.instructions {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  margin: 10px 0;
}

/* *** DIE CONTAINER *** */
.die-container {
  display: grid;
  gap: 16px;
  grid-template: auto auto / repeat(5, 1fr);
  align-items: center;
  justify-items: center;
}

.die {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.die-num {
  font-size: 2rem;
  font-weight: 700;
  color: #2b283a;
}

/* *** BUTTON *** */
.roll-btn {
  width: 180px;
  padding: 2px 5px;
  color: #ffffff;
  box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
  border-radius: 5px;
  border: 0;
  margin-top: 30px;
  font-size: 1.6rem;
  cursor: pointer;
}

.roll-btn:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}
